.food-comparison {
  padding-top: 80px; /* Adjust this value based on your header height */
}

.comparison-container {
  display: flex; /* Use flexbox for layout */
  justify-content: center; /* Space items evenly */
  margin: 20px; /* Add margin for spacing */
}

.food-box {
  border: 2px solid #ccc; /* Light gray border */
  border-radius: 8px; /* Rounded corners */
  padding: 20px; /* Padding inside the box */
  width: 200px; /* Fixed width for boxes */
  margin: 0 30px; /* Horizontal margin for spacing */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.healthy {
  background-color: #1cac78; /* Light green background */
}

.unhealthy {
  background-color: #ce2029; /* Light red background */
}

h3 {
  text-align: center; /* Center align the titles */
  color: #333;
  text-shadow: -1px -1px 0 white,
    /* Top-left shadow (border) */ 1px -1px 0 white,
    /* Top-right shadow (border) */ -1px 1px 0 white,
    /* Bottom-left shadow (border) */ 1px 1px 0 white; /* Bottom-right shadow (border) */
}

h4 {
  text-align: center; /* Center align the food names */
  color: #555; /* Grayish text color */
}
