/* .header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px;
  background-color: #f8f9fa;
} */

.header {
  background-color: #f8f9fa; /* Example background color */
  color: white; /* Text color */
  padding: 10px 0; /* Vertical padding */
  text-align: center; /* Center the logo */
  position: relative; /* Change to relative */
  z-index: 1000; /* Ensure it stays above content */
}

.battle-bites-logo {
  height: 120px;
  width: 212px;
  cursor: pointer;
}
