.landing-page {
  position: relative;
  text-align: center;
}

.content {
  margin-top: 50px;
  flex: 1;
}

.food-type-description {
  margin-left: 20px;
  margin-right: 20px;
  padding: 15px;
  background-color: #f5f5f5; /* Light gray background color */
  border-radius: 5px; /* Optional: Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Subtle shadow */
}

.compare-foods-button {
  display: inline-block; /* Makes it behave like a button */
  padding: 10px 30px; /* Add padding for a button-like appearance */
  background-color: #007bff; /* Button background color */
  color: white; /* Text color */
  text-decoration: none; /* Remove underline */
  border-radius: 5px; /* Rounded corners */
  border: none; /* Remove any borders */
  cursor: pointer; /* Change cursor to pointer on hover */
  text-align: center; /* Center the text */
}

.compare-foods-button:hover {
  background-color: #0056b3; /* Darken the background on hover */
}
